@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of movies</h2>

@if(!Model.Any())
{
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap! <br /></strong> <a href="#" class="alert-link">We can't find any movie :/<br /></a> Try again later....
</div>
}
else
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Genre</td>
            <td>Release Date</td>
            <td>Added Date</td>
            <td>Number In Stock</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Name </td>
            <td>@movie.Genre.Name</td>
            <td>@movie.ReleaseDate.ToShortDateString()</td>
            <td>@movie.DateAdded.ToShortDateString()</td>
            <td>@movie.NumberInStock</td>
        </tr>
        }
    </tbody>
</table>
}
