@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new movie</h2>

@using(Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.Name)
        @Html.TextBoxFor(c => c.Movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.ReleaseDate)
        @Html.TextBoxFor(c => c.Movie.ReleaseDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Genres)
        @Html.DropDownListFor(c => c.Movie.GenreId, 
       new SelectList(Model.Genres, "Id", "Name"), "Select movie genre", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.NumberInStock)
        @Html.TextBoxFor(c => c.Movie.NumberInStock, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}